.py-2-7 {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}
.car-card{
    height: 214px;
    justify-content: center;
    display: flex

}

.floating-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.floating-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.floating-btn.whatsapp {
    background-color: #25D366;
}

.floating-btn.call {
    background-color: #198754;
}
